/* Centrado del contenedor */

.full-height-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

/* Estilo del formulario */

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Estilo de los mensajes de error */

.error-message {
  color: red;
  font-size: 14px;
}

/* Estilo del contenedor de errores */

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
}

/* Margen inferior para los campos */

.form-group {
  margin-bottom: 15px;
}

/* Estilo base para ambos botones */

.btn-custom-shared {
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  display: block;
  width: 100%;
  margin-top: 10px;
}

/* Estilo específico para el botón Iniciar Sesión */

.btn-login-custom {
  background-color: #14b8a6;
  color: white;
  border: none;
}

.btn-login-custom:hover {
  background-color: #13a292;
  color: white;
  transform: scale(1.05);
}

/* Estilo específico para el botón Registrarse */

.btn-register-custom {
  color: #010407;
  border: 2px solid #7dd3fc;
  background-color: transparent;
}

.btn-register-custom:hover {
  background-color: #7dd3fc;
  color: #ffffff;
  transform: scale(1.05);
}

/* Estilo para el enlace de registro/loguin */

.btn-register-link {
  color: #14b8a6;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.btn-register-link:hover {
  color: #13a292;
  text-decoration: underline;
}
