/* Estilo base para ambos botones */
.btn-custom-shared {
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    width: auto;
    text-decoration: none;
}

/* Estilo específico para el botón tipo login */
.btn-login-custom {
    background-color: #14b8a6;
    color: white;
    border: none;
}

.btn-login-custom:hover {
    background-color: #13a292;
    transform: scale(1.05);
    text-decoration: none;
}

/* Deshabilitar color azul de :focus y :active solo en el desplegable */
.navbar .dropdown-item:focus, 
.navbar .dropdown-item:active {
    background-color: transparent;
    color: inherit;
    outline: none; 
}

.task-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.task-card:hover {
    transform: scale(1.05); /* Ampliar un 5% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Sombra más profunda */
}
